@page "{StatusCode}"
@model CoffeeMapServer.Pages.Admin.UserViews.AddUserModel
@section scripts{
    <script type="text/javascript" src="~/dist/jquery-3.5.1.js"></script>
}
@{
    Layout = "_MasterLayout";
}
<section class="content-header">
    <h1>
        Create user
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <form method="post">
        <div class="form-group" id="editForm">

            <label for="login">Login</label>
            <input type="text" maxlength="30" class="form-control" asp-for="@Model.Ruser.Login" required>
            <label for="mail">Email</label>
            <input type="text" id="email" pattern="[^@@&%#(){}[]'|,.-`~$]@@[A-Za-z0-9].[a-z]" class="form-control" asp-for="@Model.Ruser.Email">
            <label for="password">Password</label>
            <input type="password" minlength="10" class="form-control" asp-for="@Model.Ruser.Password" required>
            <label for="role">Role</label>
            <select class="form-control" asp-for="@Model.Ruser.Role">
                <option value="Admin">Admin</option>
                <option value="Master">Master</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
    @if (Model.ErrorStatusCode.Equals("601"))
    {
        <span style="color:red;">Such user is already exist</span>
    }
    else if (Model.ErrorStatusCode.Equals("602"))
    {
        <span style="color:red;">Such email is already registered</span>
    }
</section>