@page "{guid?}"
@model CoffeeMapServer.Pages.Admin.TagViews.EditTagModel
@{

    @if (Model.Role == "Master")
        Layout = "_MasterLayout";
}
@section scripts{
    <script type="text/javascript" src="~/dist/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="~/dist/jquery.maskedInput.js"></script>
}
<section class="content-header">
    <h1>
        Edit Tag
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <form method="post">
        <div class="form-group">
            <label for="Id">Id</label>
            <input type="hidden" class="form-control" asp-for="@Model.Tag.Id" value="@Model.Tag.Id">
        </div>
        <div class="form-group">
            <label for="Name">Title</label>
            <input type="text" maxlength="30" class="form-control" asp-for="@Model.Tag.TagTitle" required>
        </div>
        <button type="submit" asp-page-handler="Process" class="btn btn-primary">Submit</button>
    </form>
</section>