<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Панель администратора</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="~/content_root/bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css">
    <link rel="icon" type="image/svg" href="~/management.svg" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/content_root/bower_components/font-awesome/css/font-awesome.min.css" type="text/css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/content_root/bower_components/Ionicons/css/ionicons.min.css" type="text/css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/content_root/dist/css/AdminLTE.min.css" type="text/css">
    <link rel="stylesheet" href="~/content_root/dist/css/CustomStyles.css" type="text/css">
    <link rel="stylesheet" href="~/content_root/dist/css/skins/skin-blue.min.css" type="text/css">
    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    @RenderSection("scripts", required: false)
    @RenderSection("styles", required: false)
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <!-- Main Header -->
        <header class="main-header">
            <!-- Logo -->
            <a href="#" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>АП</b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Панель администратора</b></span>
            </a>
            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account Menu -->
                        <li class="dropdown user user-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <!-- The user image in the navbar-->
                                <img src="~/content_root/dist/img/admin.png" class="user-image" alt="User Image">
                                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                <span class="hidden-xs" id="User_Name">Администратор</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- The user image in the menu -->
                                <li class="user-header">
                                    <img src="~/content_root/dist/img/admin.png" class="img-circle" alt="User Image">
                                    <p>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <li class="user-body">
                                    <div class="row">
                                        <div class="col-xs-4 text-center">
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a asp-page="/Admin/Account/EditAccount" asp-route-statusCode="0" class="btn btn-default btn-flat">Редактировать профиль</a>
                                    </div>
                                    <div class="pull-right">
                                        <a asp-page="/Admin/Account/Logout" class="btn btn-default btn-flat">Выйти</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/content_root/dist/img/admin.png" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p id="User_Name1">Администратор</p>
                        <!-- Status -->
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <!-- Sidebar Menu -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">СОДЕРЖИМОЕ</li>
                    <!-- Optionally, you can add icons to the links -->
                    <li class="active"><a asp-page="/Admin/Admin/RoasterViews/Roasters"><i class="fa fa-link"></i> <span>Обжарщики</span></a></li>
                    <li><a asp-page="/Admin/AddressesViews/GetAddresses"><i class="fa fa-link"></i> <span>Адреса</span></a></li>
                    <li><a asp-page="/Admin/TagViews/Tags"><i class="fa fa-link"></i> <span>Теги</span></a></li>
                    <li><a asp-page="/Admin/RoasterRequestViews/RoasterRequests"><i class="fa fa-link"></i> <span>Заявки на участие</span></a></li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-link"></i>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu" id="TableList">
                            <li><a asp-page="/Admin/RoasterViews/Roasters">Обжарщики</a></li>
                            <li><a asp-page="/Admin/AddressesViews/GetAddresses">Адреса</a></li>
                            <li><a asp-page="/Admin/TagViews/Tags">Теги</a></li>
                            <li><a asp-page="/Admin/RoasterAddress/RoasterAddressConn">Привязать обжарщика к адресу</a></li>
                            <li><a asp-page="/Admin/RoasterRequestViews/RoasterRequests">Заявки на участие</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            @RenderBody()
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- Default to the left -->
            <strong>Copyright © 2021 </strong>
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED JS SCRIPTS -->
    <!-- Bootstrap 3.3.7 -->
    <script type="text/javascript" src="~/content_root/bower_components/jquery-slimscroll/jquery.slimscroll.js"></script>
    <script type="text/javascript" src="~/content_root/bower_components/fastclick/lib/fastclick.js"></script>
    <script type="text/javascript" src="~/content_root/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <!-- AdminLTE App -->
    <script type="text/javascript" src="~/content_root/dist/js/adminlte.js"></script>
</body>
</html>