@{
    Layout = null;
}
@model CoffeeMapServer.ViewModels.LoginViewModel
<!DOCTYPE html>
<html>
<head>
    <title>ПА - авторизация</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/svg" href="~/content_root/management.svg" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/content_root/AuthForm/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/content_root/AuthForm/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/content_root/AuthForm/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/content_root/AuthForm/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/content_root/AuthForm/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/content_root/AuthForm/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/content_root/AuthForm/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/content_root/AuthForm/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/content_root/AuthForm/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/content_root/AuthForm/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-b-160 p-t-50">
                <form class="login100-form validate-form" method="post">
                    <span class="login100-form-title p-b-43">
                        Пройдите авторизацию
                    </span>

                    <div class="wrap-input100 rs1 validate-input" data-validate="Username is required">
                        <input class="input100" type="text" name="Email">
                        <span class="label-input100">Логин</span>
                    </div>


                    <div class="wrap-input100 rs2 validate-input" data-validate="Password is required">
                        <input class="input100" type="password" name="Password">
                        <span class="label-input100">Пароль</span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Войти
                        </button>
                    </div>
                    @if (ViewData["RespCode"].ToString() == "401")
                    { 
                <div class="text-center w-full p-t-23">
                    <span class="txt2" style="color:red;">
                        Неверный логин/пароль!
                    </span>
                </div>
                    }
                    <div class="text-center w-full p-t-23">
                        <a href="#" class="txt1">
                            Забыли пароль?
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--===============================================================================================-->
    <script src="~/content_root/AuthForm/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/content_root/AuthForm/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/content_root/AuthForm/vendor/bootstrap/js/popper.js"></script>
    <script src="~/content_root/AuthForm/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/content_root/AuthForm/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/content_root/AuthForm/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/content_root/AuthForm/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/content_root/AuthForm/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/content_root/AuthForm/js/main.js"></script>

</body>
</html>